type vibeamp_sysfs, sysfs_type, file_type;
type kcal_sysfs, fs_type, sysfs_type;
# rmt.te grants r_dir_file(rmt, sysfs_rmtfs) but the type was never declared
# (was provided by the old qcom common). Declare it like other sysfs labels.
type sysfs_rmtfs, sysfs_type, fs_type;

type tad_socket, file_type;

type led_deamon_data_file, file_type;
type sensord_data_file, file_type;

type sysfs_led, sysfs_type, file_type;

type debugfs_asoc, debugfs_type, file_type;
