service nicki-rmnet-stub /system/bin/sh /system/etc/init.nicki.rmnet_stub.sh
    class core
    user root
    group root system net_admin
    disabled
    oneshot
    seclabel u:r:init:s0

on post-fs
    start nicki-rmnet-stub
